<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<!-- name to display in management console -->
	<display-name>Albright external data gateway</display-name>
	

	<servlet>
	    <servlet-name>AlbrightServlet</servlet-name>
	    <servlet-class>org.springfield.albright.AlbrightServlet</servlet-class>
	    <load-on-startup>1</load-on-startup>
	</servlet>   
	
	<servlet-mapping>
	    <servlet-name>AlbrightServlet</servlet-name>
	    <url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<!-- listener that initializes server, since Application.start() is no longer called upon context load in restlet 2.x -->
  	<listener>
  		<listener-class>org.springfield.albright.AlbrightContextListener</listener-class>
  	</listener>
	

	<servlet-mapping>
	    <servlet-name>AlbrightServlet</servlet-name>
	    <url-pattern>/albright/*</url-pattern>
	</servlet-mapping>
	
	
</web-app>
